<h1 style="font-family: 'Arial Black', Gadget, sans-serif; text-align: center; color: linear-gradient(to right, blue, purple);">
üéì EE-271 OOP & Data Structures Lab Report
</h1>

---

## <span style="font-family: 'Georgia', serif; color: green;">üìã Lab Information</span>  
- **<span style="color: orange;">Lab No.:</span>** `10`  
- **<span style="color: orange;">Lab Title:</span>** `Modules_and_Packages`  
- **<span style="color: orange;">Lab Date:</span>** `January 18, 2025`  

---

## <span style="font-family: 'Georgia', serif; color: green;">üôã‚Äç‚ôÇÔ∏è Submitted By</span>  
- **<span style="color: orange;">Name:</span>** `Shakir Ullah`  
- **<span style="color: orange;">Roll No.:</span>** `23JZELE0524`  
- **<span style="color: orange;">Section:</span>** `A`  

---

### **Creating Modules:**

In [46]:
def add(x, y):
    return x + y

In [47]:
import adder
value = adder.add(2, 2)
print(value)

4

**2. Add another function to double a value:**

In [48]:
def double(x):
    return x + x

In [49]:
import adder
value = adder.add(2, 2)
double_value = double(value)
print(double_value)

8

**3. Using alias with as keyword:**

In [50]:
import adder as a
value = a.add(4, 4)
double_value = double(value)
print(double_value)

16

**4. Importing specific functions:**

In [51]:
from adder import add
value = add(2, 2)
print(value)

4

In [52]:
from adder import add

value = add(2, 2)
double_value = double(value)
print(double_value)

8

- Using multiple imports:

In [53]:
from adder import add, double
value = add(2, 2)
double_value = double(value)
print(double_value)

8

---

### **Accessing Labs 7, 8, and 9 Using Modules and Packages**

In [54]:
import os

In [55]:
os.chdir(r"E:\Electrical Engineering\3rd Semester\Lab Report\Lab 10_modules_and_packages\mylabs")

In [56]:
os.getcwd()

'E:\\Electrical Engineering\\3rd Semester\\Lab Report\\Lab 10_modules_and_packages\\mylabs'

In [57]:
from Lab7 import Rectangle

In [58]:
r = Rectangle(3, 4)

In [59]:
r.perimeter()

14

In [60]:
from Lab7 import Square as sq

In [61]:
s = sq(5)

In [62]:
s.perimeter()

20

In [63]:
from Lab7 import Circle as c

In [64]:
s = c(5)

In [65]:
s.Area()

78.53981633974483

---

In [66]:
from Lab8 import Rectangle, Square, Cube

In [67]:
r1 = Rectangle(3, 4)

In [68]:
r1.perimeter()

14

In [69]:
cube1 = Cube(3)

In [70]:
cube1.volume()

27

In [71]:
cube1.surface_area()

54

In [72]:
from Lab8 import SalaryEmployee, HourlyEmployee, CommissionEmployee, Manager, Secretary, SalesPerson, FactoryWorker

In [73]:
salary_employee = SalaryEmployee(1, "Nabeel Khan", 1200)
hourly_employee = HourlyEmployee(2, "Babar Azam", 40, 15)
commission_employee = CommissionEmployee(3, "Sheraz", 1000, 200)
manager = Manager(4, "John Doe", 1500)
secretary = Secretary(5, "Jane Smith", 800)
salesperson = SalesPerson(6, "Alex Brown", 1000, 500)
factory_worker = FactoryWorker(7, "David Lee", 30, 12)

emps = [salary_employee, hourly_employee, commission_employee, manager, secretary, salesperson, factory_worker]

for employee in emps:
    print("=========================================")
    print(f"ID: {employee.id}, Name: {employee.name}, Salary: {employee.calculate_payroll()}")
    employee.work(40)

=========================================
ID: 1, Name: Nabeel Khan, Salary: 1200
Salaried employee Nabeel Khan worked 40 hours.
=========================================
ID: 2, Name: Babar Azam, Salary: 600
Hourly employee Babar Azam worked for 40 hours.
=========================================
ID: 3, Name: Sheraz, Salary: 1200
Commission employee Sheraz made sales calls for 40 hours.
=========================================
ID: 4, Name: John Doe, Salary: 1500
Manager John Doe is managing for 40 hours.
=========================================
ID: 5, Name: Jane Smith, Salary: 800
Secretary Jane Smith is organizing paperwork for 40 hours.
=========================================
ID: 6, Name: Alex Brown, Salary: 1500
Salesperson Alex Brown is making sales calls for 40 hours.
=========================================
ID: 7, Name: David Lee, Salary: 360
Factory worker David Lee is manufacturing products for 40 hours.

---

In [74]:
from Lab9 import *

In [75]:
rec = Rectangle(3, 4)

In [76]:
rec.area()

12

In [77]:
# objects of the classes
rect = Rectangle(length=10, width=5)
square = Square(length=4)
triangle = Triangle(base=6, height=3)
right_pyramid = RightPyramid(base=5, slant_height=10)

In [78]:
# printing the areas and perimeters
print(f"Rectangle Area: {rect.area()}")
print(f"Rectangle Perimeter: {rect.perimeter()}")
print(f"Square Area: {square.area()}")
print(f"Square Perimeter: {square.perimeter()}")
print(f"Triangle Area: {triangle.tri_area()}")
print(f"RightPyramid Area: {right_pyramid.area()}")

Rectangle Area: 50
Rectangle Perimeter: 30
Square Area: 16
Square Perimeter: 16
Triangle Area: 9.0
RightPyramid Area: 25

In [79]:
# List of objects
employees = [
    Professor(1, "Dr Qaisar Ali", "Professor", 8, 21, 300000, "Electrical Machine", "Signal and System", "12 Years", "Multimedia"),
    Associate_Prof(2, "Akhtar Nawaz", "Associate Professor", 10, 20, 250000, "Power Analysis", "Circuit Analysis", "15 Years", "White Board"),
    Assistant_Prof(3, "Waqas Imtiaz", "Assistant Professor", 12, 19, 200000, "Electric Cars", "Circuit Analysis", "5 Years", "Projector"),
    Lecturer(4, "Irshad Ullah Sir", "Lecturer", 14, 18, 100000, "Renewable Energy", "OPPs And Ds", "7 Years", "Projector"),
    Lab_Engr(5, "Waqar Hussain", "Lab Engineer", 18, 17, 150000, "Instrumentation", 60, "Circuit-1"),
    Lab_Technician(6, "Wajid Ali", "Lab Technician", 16, 16, 100000, "Electronics Lab", 50, "DLD"),
    Lab_Assistant(7, "M.Haris", "Lab Assistant", 15, 16, 70000, "Power Engineering Lab", 54, "AutoCAD"),
    Lab_Attendant(8, "Shahzaib Khan", "Lab Attendant", 14, 15, 50000, "Computer Lab", 33),
    Chairman(9, "Amjad Ali", "Chairman", 8, 20, 270000, "AI", "Engineering Economics", "12-Years", "Multimedia", "Circuit-II", 30)
]

In [80]:
# Print all objects
for employee in employees:
    print(employee)

Employee ID: 1, Name: Dr Qaisar Ali, Position: Professor, Workload: 8-Hours, Scale: 21, Base Pay: 300000, Research: Electrical Machine, Subject: Signal and System, Experience: 12 Years years, Teach Mode: Multimedia
Employee ID: 2, Name: Akhtar Nawaz, Position: Associate Professor, Workload: 10-Hours, Scale: 20, Base Pay: 250000, Research: Power Analysis, Subject: Circuit Analysis, Experience: 15 Years years, Teach Mode: White Board
Employee ID: 3, Name: Waqas Imtiaz, Position: Assistant Professor, Workload: 12-Hours, Scale: 19, Base Pay: 200000, Research: Electric Cars, Subject: Circuit Analysis, Experience: 5 Years years, Teach Mode: Projector
Employee ID: 4, Name: Irshad Ullah Sir, Position: Lecturer, Workload: 14-Hours, Scale: 18, Base Pay: 100000, Research: Renewable Energy, Subject: OPPs And Ds, Experience: 7 Years years, Teach Mode: Projector
Employee ID: 5, Name: Waqar Hussain, Position: Lab Engineer, Workload: 18-Hours, Scale: 17, Base Pay: 150000, Lab Name: Instrumentation, Lab Capacity: 60, Lab Subject: Circuit-1
Employee ID: 6, Name: Wajid Ali, Position: Lab Technician, Workload: 16-Hours, Scale: 16, Base Pay: 100000, Lab Name: Electronics Lab, Lab Capacity: 50, Basic Lab : DLD
Employee ID: 7, Name: M.Haris, Position: Lab Assistant, Workload: 15-Hours, Scale: 16, Base Pay: 70000, Lab Name: Power Engineering Lab, Lab Capacity: 54, Equipment Handle: AutoCAD
Employee ID: 8, Name: Shahzaib Khan, Position: Lab Attendant, Workload: 14-Hours, Scale: 15, Base Pay: 50000, Lab Name: Computer Lab, Lab Capacity: 33
Employee ID: 9, Name: Amjad Ali, Position: Chairman, Workload: 8-Hours, Scale: 20, Base Pay: 270000, Lab Name: Circuit-II, Lab Capacity: 0, Lab Name: Circuit-II, Lab Capacity: 0

---